menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"
    default y
    help
      Enable or disable the LED subsystem settings.

if LED_SUBSYSTEM

choice
    prompt "LED blink sleep time"
    default BLINK_SLEEP_500MS

config BLINK_SLEEP_1000MS
    bool "Slow (1s)"

config BLINK_SLEEP_500MS
    bool "Medium (0.5s)"

config BLINK_SLEEP_250MS
    bool "High (0.25s)"

endchoice

config BLINK_SLEEP_TIME_MS
    int                 # Hidden value
    default 1000 if BLINK_SLEEP_1000MS
    default 500 if BLINK_SLEEP_500MS
    default 250 if BLINK_SLEEP_250MS
    default 0
    help
      The integer value selected by the choice above.


menuconfig LED_ADVANCED_SETTINGS
    bool "Advanced LED Settings"
    default n

if LED_ADVANCED_SETTINGS

    config LED_BRIGHTNESS
        int "LED Brightness"
        range 0 100
        default 50
        help
          Set the brightness level of the LEDs (0 for off, 100 for full brightness).
    
    config LED_FADE_DURATION_MS
        int "LED Fade Duration (ms)"
        range 0 5000
        default 1000
        help
          Set the duration for LED fade effects in milliseconds.

    menu "Expert settings"

        config LED_DEBUGGING
            bool "Enable LED debugging"

        config LED_BLINK_PATTERN
            string "Custom Blink Pattern"
            default "1010"
            help
              Define a custom blink pattern using a string of 1s and 0s, where '1' represents the LED being on and '0' represents it being off. For example, "1010" would create a pattern of on-off-on-off.
    endmenu

endif   #LED_ADVANCED_SETTINGS
endif   #LED_SUBSYSTEM

menu "Zephyr Settings"
    source "Kconfig.zephyr"
endmenu
