/ {
    leds {
        compatible = "gpio-leds";
        
        led_red: led_red {
            // gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;         // Ref by gpio label
            // gpios = <&pico_header 9 GPIO_ACTIVE_HIGH>;   // Ref by connector label
            gpios = <&{/connector} 9 GPIO_ACTIVE_HIGH>;     // Ref by path
        };            
    };

	gpio_keys {
		compatible = "gpio-keys";

		user_button: button_0 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "User SB1";
			// zephyr,code = <INPUT_KEY_0>;
		};
	};
    
    aliases {
        status-led = &led_red; 
    };

    chosen {
        zephyr,console    = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,uart-pipe  = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};    
