# STM32H755ZI Nucleo board configuration

# Copyright (c) 2024 S&C Electric Company <Michael.Banducci@sandc.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_OUR_BOARD
    select SOC_STM32H755XX_M7
